.archive {
    #content {
        margin-top: 39px!important;
    }
    #masthead {
        background: transparent;
        transition: all 500ms ease;
    }
    .archive-header {
        height: 124px;
        transition: all 500ms ease;
        h1 {
            transition: all 500ms ease;
            padding-top: 55px;
            padding-left: 20px;
            text-transform: uppercase;
            color: white;
            font-family: "Roboto Slab";
            font-size: 3em;
            width: 300px;
            font-weight: 300;
        }
        @media screen and (min-width: 640px) {
            transition: all 500ms ease;
            height: 160px;
            h1 {
                transition: all 500ms ease;
                padding-top: 90px;
            }
        }
    }
    #banner {
        margin-top: -72px;
        @include banner_small;
        height: 100%;
        transition: all 500ms ease;
        @media screen and (min-width: 640px) {
            margin-top: -72px;
            transition: all 500ms ease;
        }
    }
    .related-story .related-story-title {
        h3 {
            font-weight: bold;
        }
    }
}

.opaque {
    background: rgba(80, 8, 80, 0.9)!important;
    transition: all 500ms ease;
}