@import "article_head_base";
.article {
    .article-content {
        @import '../atoms/blockquote';
        padding: $article-padding;
        p {
            margin: 5px 0;
        }
        a {
            color: $secondary;
            font-weight: bold;
        }
    }
}

#pressonhead {
    position: fixed;
}