
$article-padding: 5px 15px;


.article {
    @include row;

    header {
        .image-container {
               position: relative;
                width: 100%;
                height: 10%;

            img {
                width: 100%;
            }

            .image-box {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .title-overlay {
                position: absolute;
                bottom: 6px;
                width: 100%;
                overflow: hidden;
                background:rgba(31, 31, 31, 0.53);
                padding: $article-padding;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }

        .article-title {
            color: white;
        }
        
        .article-info {
            padding: $article-padding;
            p{
                margin:0;
            }
        }
        .article-author {
            font-weight: bolder;
            font-size: 1.2em;
        }
    }

    .article-content {
        @import '../atoms/blockquote';
         padding: $article-padding;
        p {
            margin: 5px 0;
        }
    }
}