$mastfoot-height: 350px;

#mastfoot{
    height: $mastfoot-height;
    background-color: $primary;
    width: 100%;
    padding: 20px;

    p {
        color: white;
        text-align: center;
        font-size: 1.5em;
    }

    #logo-footer{
        padding-top: 10px;
       
        span{
            @include logo-white;
            margin: 0 auto;
            width: 110px;
        }
    }

    #follow-us-footer{
        padding: 10px;
        @include row;
        margin: 0 auto;

        p{
            text-align: center;
        }

        div{
            display: block;
            margin: 0 auto;
            width: 90px;
            
        }

        .fb-follow{
            @include span_columns(3);
            @include fb-follow-white;
           
            margin-right: 10px !important;
        }

        .tw-follow{
            @include span_columns(3);
            @include tw-follow-white;
        }
    }
}