$masthead-height: 60px;
@import '../atoms/navigation';

#masthead {
    @include row;
    padding: 5px;
    background-color: $primary;
    color: white;
    height: $masthead-height;

    #logo-header{
        @include span_columns(11);
        @include logo-header;
    }

    #nav-header{
        @include span_columns(1);
        height: 100%;
    }

};

