$masthead-height: 60px;
@import '../atoms/navigation';

#page {
    overflow: hidden;
}

#masthead {
    @include row;
    padding: 10px 20px;
    background-color: $primary;
    color: white;
    height: $masthead-height;

    #logo-header{
        @include span_columns(11);
        height:  $masthead-height;
       // padding: 10px;
        span{
            @include logo-white;
         }
    }

    #nav-header{
        @include span_columns(1);
        height: 100%;

    }

};

