$masthead-height: 60px;

#masthead {
    @include row;
    padding: 5px;
    background-color: $primary;
    color: white;
    height: $masthead-height;

    #logo-header{
        @include span_columns(10);
        height: 100%;

        h1{
            margin:0;
        }
    }

    #nav-header{
        @include span_columns(2);
        height: 100%;
        .menu{
            @include burger-menu;
            border-radius: 5px;
            width:27px;
        }
    }

};

