@import "article";
@import "related";
$image-container-padding: 0 5% 0 5%;
.next-article-header {
    @extend #related-header;
    margin-bottom: 15px;
}

.next-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: $image-container-padding;
    margin-bottom: 2%;
    min-height: 100px;
    img {
        max-height: 360px;
        height: 100%;
        width: 100%;
    }
    .next-image-box {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5%;
        width: 100%;
        height: 100%;
    }
    .next-title-overlay {
        position: absolute;
        min-height: 100px;
        bottom: 6px;
        width: 90%;
        height: 30%;
        overflow: hidden;
        background: rgba(31, 31, 31, 0.53);
        padding: $article-padding;
        a {
            text-decoration: none;
            color: white;
        }
        h3 {
            margin-top: 5px;
        }
    }
}

.no-thumbnail {
    .next-article-category {
        display: inline-block;
        height: 34px;
        height: 26px;
        padding: 0px 10px 0;
        background-color: #E34357;
        a {
            color: white;
            font-size: 0.7em;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
    h3 {
        margin-top: 5px;
        a {
            text-decoration: none;
            color: black;
        }
    }
}