@import "article";
@import "related";
$image-container-padding: 0 15px;
.read-next-article {
    .next-article-header {
        @extend #related-header;
    }
    .image-container {
        padding: $image-container-padding;
        margin-bottom: 2%;
        margin-top: 15px;
        min-height: 100px;
        img {
            max-height: 360px;
            height: 100%;
        }
        .image-box {
            padding-left: 15px;
            padding-right: 15px;
        }
        .title-overlay {
            min-height: 100px;
            width: 93%;
            height: 30%;
            h3 {
                font-weight: 300;
                margin-top: 5px;
                color: white;
            }
        }
    }
    .text-article-container {
        padding: 10px 0px 10px 15px;
        width: 100%;
        display: block;
        margin: auto;
        .entry-title {
            display: inline-block;
            font-weight: bolder;
            font-size: 0.8em;
            a {
                color: $secondary;
                font-weight: bold;
                text-decoration: none;
            }
        }
        h1 {
            font-weight: 300;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
    .next-article-box {
        padding: 10px 0px 10px 15px;
        width: 100%;
        display: block;
        margin: auto;
        .no-thumbnail {
            .next-article-category {
                display: inline-block;
                font-weight: bolder;
                font-size: 0.8em;
                a {
                    color: $highlight;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
            h3 {
                font-weight: 300;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}