@import "article";
@import "related";
#next-article-header {
    @extend #related-header;
}

.next-image-container {
    position: relative;
    margin: 15px;
    width: 330px;
    height: 218px;
    img {
        height: 100%;
        width: 100%;
    }
    .next-image-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .next-title-overlay {
        position: absolute;
        bottom: 6px;
        width: 100%;
        overflow: hidden;
        background: rgba(31, 31, 31, 0.53);
        padding: $article-padding;
        a {
            text-decoration: none;
            color: white;
        }
    }
}