#artile-related {
    padding: 10px;
}

#related-header {
    width: 100%;
    height: 42px;
    margin-bottom: 20px;
    background-color: $accent;
    padding: 5px 15px;
    h2 {
        margin: 0;
        font-size: 1.3em;
        font-weight: 100;
    }
}

.related-story {
    @include row;
    padding: 10px 0;
    width: 95%;
    display: block;
    margin: auto;
    border-bottom: solid 1px $accent;
    border-width: 95%;
    .related-story-title {
        @include span_columns(8);
        span {
            text-transform: uppercase;
        }
        h3 {
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    .related-story-image {
        @include span_columns(4);
        width: 90px;
    }
}