$section-border-style: 4px solid $primary;
$section-border-margin: 0 15px 0 15px;
#artile-related {
    padding: 10px;
}

#related-header {
    height: 48px;
    margin: $section-border-margin;
    border-top: $section-border-style;
    border-bottom: $section-border-style;
    padding: 5px 0px;
    h2 {
        margin: 0;
        font-size: 1.3em;
        font-weight: 100;
    }
}

.related-story {
    @include row;
    padding: 10px 6px;
    width: 95%;
    display: block;
    margin: auto;
    border-bottom: solid 1px $accent;
    border-width: 95%;
    .related-story-title {
        @include span_columns(8);
        span {
            text-transform: uppercase;
            color: $highlight;
            font-weight: bold;
            font-size: 0.8em;
        }
        h3 {
            margin: 0;
            font-weight: 300;
        }
        a {
            text-decoration: none;
            color: black;
        }
    }
    .related-story-image {
        @include span_columns(4);
        width: 90px;
    }
}