#social_share_header {
    z-index: $middleIndex;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    border-bottom: 2px solid $primary;
    height: 60px;
    width: 100%;
    max-width: 640px;
    will-change: transform;
    position: fixed;
    top: -60px;
}

#sharing {
    display: inline-block;
    width: 380px;
}

.animated {
    will-change: transform;
    transition: transform 300ms linear;
}

.headroom--not-top {
    top: 0!important;
}

.slideUp {
    transform: translateY(0%);
}

.slideDown {
    transform: translateY(-100%);
}