// Import _s base styles
@import '_s/style.scss';

// Import The Mast components
@import 'components/the_mast.scss';

$color__link: $secondary;
$color__link-visited: $accent;
$color__link-hover: $accent;
