/**
 * Prepend a large quote mark (for blockquotes).
 *
 * @mixin
 * @section Style Mixins
 * @example
 *  @quote-mark();
 */

@mixin open-quote () {
    background-image: url('assets/images/open_quote_icon.svg');
    background-repeat: no-repeat;
}

@mixin close-quote () {
    background-image: url('assets/images/close_quote_icon.svg');
    background-repeat: no-repeat;
}

@mixin not-found-icon () {
    background-image: url('assets/images/404.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 75px;
    width: 180px;
}

@mixin logo-white () {
    background: url('assets/images/logo_white.svg') no-repeat;
    background-size: contain;
    display: block;
    height: 50px;
    width: 150px;
}

@mixin logo-colour {
    background: url('assets/images/logo_colour.svg') no-repeat;
    background-size: contain;
    display: block;
    height: 42px;
    width: 150px;
}

@mixin burger-menu() {
    background-image: url('assets/images/hamburger.svg');
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
}

$social-media-icon-width: 60px;
$social-media-icon-height: 42px;
@mixin fb-share () {
    margin-top: 10px;
    background: url('assets/images/fb_share_icon.svg') no-repeat;
    background-size: contain;
    display: block;
    height: $social-media-icon-height;
    width: $social-media-icon-width;
}

@mixin tw-share () {
    margin-top: 10px;
    background: url('assets/images/tw_share_icon.svg') no-repeat;
    background-size: contain;
    display: block;
    height: $social-media-icon-height;
    width: $social-media-icon-width;
}

@mixin wa-share () {
    margin-top: 10px;
    background: url('assets/images/wa_share_icon.svg') no-repeat;
    background-size: contain;
    display: block;
    height: $social-media-icon-height;
    width: $social-media-icon-width;
}

@mixin tw-follow-white {
    background: url('assets/images/tw_white.svg') no-repeat;
    background-size: contain;
    display: block;
    height: 40px;
    width: 40px;
}

@mixin fb-follow-white {
    background: url('assets/images/fb_white.svg') no-repeat;
    background-size: contain;
    display: block;
    height: 40px;
    width: 40px;
}

@mixin banner_small {
    background: url('assets/images/banner_small.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

@mixin hidden {
    display: hidden;
}

@mixin arrow {
    background: url('assets/images/arrow.svg') no-repeat;
    background-size: contain;
    display: block;
    height: 16px;
    width: 16px;
}