/**
 * Prepend a large quote mark (for blockquotes).
 *
 * @mixin
 * @section Style Mixins
 * @example
 *  @quote-mark();
 */
@mixin open-quote (){
    background-image: url('assets/images/quote_icon.svg');
    background-repeat: no-repeat;
}

@mixin burger-menu(){
    background-image: url('assets/images/hamburger.svg');
    background-repeat: no-repeat;
    cursor:pointer;
    border:none;
}