/**
 * Prepend a large quote mark (for blockquotes).
 *
 * @mixin
 * @section Style Mixins
 * @example
 *  @quote-mark();
 */
@mixin open-quote (){
    background-image: url('assets/images/quote_icon.svg');
    background-repeat: no-repeat;
}

@mixin logo-white (){
    background: url('assets/images/logo_white.svg') no-repeat;
    background-size: contain;
    display: block;
    height: $masthead-height - 10px;
    width: 150px;
    //background-size: 100px 82px;
}

@mixin logo-purple{
    background-image: url('assets/images/logo_purple.png');
    background-repeat: no-repeat;
}

@mixin burger-menu(){
    background-image: url('assets/images/hamburger.svg');
    background-repeat: no-repeat;
    cursor:pointer;
    border:none;
}