/**
 * The primary reading typeface.
 *
 * @nuclide Primary Typeface
 * @section Typography
 */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans%7CRoboto+Slab');

 $primary-font: 'Noto Sans';
 $secondary-font: 'Roboto Slab';

 h1, h2, h3 {
    font-family: $secondary-font
 }