$masthead-height: 60px;

#masthead {
    @include row;
    padding: 5px;
    background-color: $primary;
    color: white;
    height: $masthead-height;

    #logo-header{
        @include span_columns(8);
    }

    #nav-header{
        @include span_columns(4);
        
    }

    nav{
        border: 1px solid white;
        
        ul {
             list-style: none;
        }
    }
};

