@import 'bourbon';
@import 'neat';

@import 'nuclides/typography';
@import 'nuclides/colors';
@import 'nuclides/mixins';

@import 'atoms/advert';

@import 'structures/header';
@import 'structures/article';
@import 'structures/related';

html, body{
    margin: 0;
    padding: 0;
}

body {
    @include outer-container(100%);
    font-family: $primary-font;
}