@import 'bourbon';
@import 'neat';

@import 'nuclides/typography';
@import 'nuclides/colors';
@import 'nuclides/mixins';

@import 'atoms/advert';
@import 'atoms/socialmedia';

@import 'structures/header';
@import 'structures/footer';
@import 'structures/article';
@import 'structures/related';

html, body{
    padding: 0;
    max-width: 640px;
    display: block;
    margin: 0 auto;
    background-color: white;
}

body{
    background-color: white;
}

body {
    @include outer-container(100%);
    font-family: $primary-font;
}
