/**
 * @atom Banner Advert
 * @section Advertise
 * @markup
 *  <div class="advert-banner"> </div>
 */
.advert-banner {
    padding: 3px 10px;
}

/**
 * @atom Article Advert
 * @section Advertise
 * @markup
 *  <div class="advert-article"> </div>
 */
.advert-article {
    padding: 3px 10px;
}

ins {
    background: transparent;
    display: inline-block;
}

.ad-heading{
    text-transform: uppercase;
    color:  darken($accent,10%);
    font-size: .65em;
    text-align: center;
    padding-top: 10px;
}