/**
 * @atom Banner Advert
 * @section Advertise
 * @markup
 *  <div class="advert-banner"> </div>
 */
.advert-banner {
    padding: 10px 10px 5px 10px;
}

/**
 * @atom Article Advert
 * @section Advertise
 * @markup
 *  <div class="advert-article"> </div>
 */
.advert-article {
    padding: 10px;
}

ins {
    background: transparent;
    display: inline-block;
}