/**
 * @atom Banner Advert
 * @section Advertise
 * @markup
 *  <div class="advert-banner"> </div>
 */
.advert-banner {
    @include row();
    padding: 10px;
    
    .advert-content{
        background-color: lightgrey;
        width: 300px;
        height: 50px;
        margin: 10px 0;
        margin: 0 auto;
        padding: 10px 0;
    }
}

/**
 * @atom Article Advert
 * @section Advertise
 * @markup
 *  <div class="advert-article"> </div>
 */
.advert-article {
    background-color: lightgrey;
    display: inline;
    border: 1px solid black;
}