* {
  margin: 0;
  padding: 0; 

}

#nav-header{
  margin: 0 auto;
  font-family: $secondary-font;
  color: #fff;
}


#nav-burger-menu {
  
  float: right;
  width: 40px;
  height: 45px;
  position: relative;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-burger-menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-burger-menu span:nth-child(1) {
  top: 0px;
}

#nav-burger-menu span:nth-child(2),#nav-burger-menu span:nth-child(3) {
  top: 12px;
}

#nav-burger-menu span:nth-child(4) {
  top: 24px;
}

#nav-burger-menu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-burger-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-burger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-burger-menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


/**
  Nav list
*/
/**
 * Menu overview.
 */

        #nav-menu-list{

            width: 300px;
            height: 100%;
            top: -15px;
            background-color: white;
            position: relative;
            overflow: hidden;
            z-index: 1;
            margin-left: -240px;
            border-left: solid 5px $primary;
            border-bottom: solid 5px $primary;

            ul{
                margin: 0;
                padding: 20px;
                text-align: center;

                span{
                    color: black;
                }

                li{
                    padding: 15px;
                    border-bottom: solid 3px $accent;

                    a{
                        text-decoration: none;
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: bolder;
                        color: black;
                    }
                }
            }
        }
        
        .resting{
          transform: translateX(100%);
        }

        .slideLeft{
            animation-name: slideLeft;
            -webkit-animation-name: slideLeft;	

            animation-duration: 0.3s;	
            -webkit-animation-duration: 0.3s;

            animation-timing-function: ease-in-out;	
            -webkit-animation-timing-function: ease-in-out;		

            visibility: visible !important;	
        }

        @keyframes slideLeft {
            0% {
                transform: translateX(100%);
            }
		
            100% {
                transform: translateX(0%);
            }
        }

        @-webkit-keyframes slideLeft {
            0% {
                -webkit-transform: translateX(100%);
            }		
            100% {
                -webkit-transform: translateX(0%);
            }
        }

        .slideRight{
            animation-name: slideRight;
            -webkit-animation-name: slideRight;	

            animation-duration: 0.3s;	
            -webkit-animation-duration: 0.3s;

            animation-timing-function: ease-in-out;	
            -webkit-animation-timing-function: ease-in-out;		

            visibility: visible !important;	
        }

        @keyframes slideRight {
            0% {
                transform: translateX(0%);
            }
		
            100% {
                transform: translateX(100%);
            }
        }

        @-webkit-keyframes slideRight {
            0% {
                -webkit-transform: translateX(0%);
            }		
            100% {
                -webkit-transform: translateX(100%);
            }
        }
