$timing: .3s;
* {
    margin: 0;
    padding: 0;
}

#nav-header {
    margin: 0 auto;
    font-family: $secondary-font;
    color: #fff;
}

#nav-burger-menu {
    float: right;
    width: 40px;
    height: 45px;
    position: relative;
    margin: 5px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-burger-menu span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#nav-burger-menu span:nth-child(1) {
    top: 0px;
}

#nav-burger-menu span:nth-child(2),
#nav-burger-menu span:nth-child(3) {
    top: 12px;
}

#nav-burger-menu span:nth-child(4) {
    top: 24px;
}

#nav-burger-menu.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-burger-menu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-burger-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-burger-menu.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}


/**
  Nav list
*/


/**
 * Menu overview.
 */

#nav-menu-list {
    top: -5px;
    background-color: white;
    position: relative;
    overflow-y: scroll;
    z-index: $middleIndex;
    ul {
        margin: 0;
        padding: 5px 20px;
        text-align: center;
        span {
            color: black;
        }
        li {
            padding: 15px;
            border-bottom: solid 2px $accent;
            a {
                text-decoration: none;
                font-size: 20px;
                text-transform: uppercase;
                color: black;
            }
        }
    }
}

.resting {
    margin-left: 57px;
    width: 0;
    height: 0;
}

.hidden {
    margin-top: -10px;
    height: 0;
    display: none;
    transition: all $timing;
    -webkit-transition: all $timing;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

.search-open {
    margin-top: 60px;
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

.search-close {
    margin-top: -70px;
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

.slide {
    width: 300px;
    border-left: solid 5px $primary;
}

.slideLeft {
    height: calc(100vh - 60px);
    margin-left: -243px;
    transition: all $timing;
    -webkit-transition: all $timing;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

.slideRight {
    transition: all $timing;
    -webkit-transition: all $timing;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

#nav-search {
    @include span_columns(12);
    position: relative;
    width: 28px;
    height: 37px;
    cursor: pointer;
    margin-left: -65px;
    span {
        @include search_icon;
        float: left;
    }
    @media screen and (min-width: 640px) {
        margin-left: -50px;
    }
}

#search-bar {
    position: fixed;
    width: 100%;
    max-width: 640px;
    height: 60px;
    background-color: white;
    z-index: $foregroundIndex - 1;
    border-bottom: 1px solid $primary;
    label {
        padding-left: 15px;
        input:focus {
            outline-color: white;
        }
    }
}

.search-submit {
    float: right;
    background: $primary;
    color: white;
    border-radius: 20px;
    height: 42px;
    font-size: 16px;
    width: 60px;
    padding-top: 2px;
    margin-top: -6px;
    margin-right: 8px;
    text-transform: uppercase;
    border-color: darken($primary, 7%);
    @extend .button;
    &:hover {
        background-color: darken($primary, .7);
    }
}

#search-form {
    padding-top: 15px;
    height: 60px;
}

.screen-reader-text {
    margin-right: 5px;
}

.search-field {
    border: none;
    height: 25px;
    font-size: .8em;
    min-width: 74%;
    padding-left: 10px;
    padding-top: 5px;
    margin-left: -9px;
    font-family: Noto Sans, sans-serif;
}