.social-media-following {
    @include row;
    padding: 10px;
    margin-bottom: 20px;
    p {
        text-align: center;
        font-size: 1em;
        color: #3b55a0;
        padding: 10px;
        margin: 0;
    }
    .fb-like-section {
        display: block;
        margin: 0 auto;
        width: 49px;
        padding-bottom: 20px;
    }
    .tw-follow-section {
        display: block;
        margin: 0 auto;
        width: 64px;
    }
}

.presson-social-media-links {
    @include row;
    padding: 20px;
    width: 60%;
    .fb-share {
        @include span_columns(3);
        span {
            @include fb-share;
            float: left;
        }
    }
    .tw-share {
        @include span_columns(3);
        span {
            @include tw-share;
            float: left;
        }
    }
    .wa-share {
        @include span_columns(2);
        span {
            @include wa-share;
            float: left;
        }
    }
}