.social-media-container{
    margin: 20px;
}


.social-media-following {
    padding: 10px;
    margin: 0 auto;
    border: 2px solid $primary;
    width: 290px;

    p {
        text-align: center;
        text-transform: uppercase;
        margin: 10px;
    }

    .social-icon{
        @include logo-colour;
        margin: 0 auto;
    }

    .sharing-icons{

        .fb-like-section {
            display: block;
            margin: 0 auto;
            width: 64px;
            padding-bottom: 20px;
        }
        .tw-follow-section {
            display: block;
            margin: 0 auto;
            width: 82px;
        }
    }

}

.presson-social-media-links {
    @include row;
    padding: 0 20px 10px 20px;
    width: 60%;
    .fb-share {
        @include span_columns(4);
        span {
            @include fb-share;
            float: left;
        }
    }
    .tw-share {
        @include span_columns(4);
        span {
            @include tw-share;
            float: left;
        }
    }
    .wa-share {
        @include span_columns(4);
        span {
            @include wa-share;
            float: left;
        }
    }
}