/**
 * @atom Blockquote
 * @section Article > Elements
 * @markup
 *  <blockquote> Sense in itself confoundend, I can't remember the rest. </blockquote>
 */

blockquote {
    @include row;
    @include open-quote;
    border-radius: 5px;
    margin: 0;

    p {
        margin-left: 36px;
        font-family: $primary-font;
        font-weight: bold;
        font-size: 1.2em;
    }
}
