/**
 * @atom Blockquote
 * @section Article > Elements
 * @markup
 *  <blockquote> Sense in itself confoundend, I can't remember the rest. </blockquote>
 */

blockquote {
    border-radius: 5px;
    border-left: none;
    
    &::before {
        content: '"';
        @include quote-mark();
    }

    &::after {
        content: '"';
        @include quote-mark();
    }

    p {
        font-weight: 300;
        font-family: helvetica;

    }
}
