html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

body {
  background: #fff;
}

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

@font-face {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nCZ2oysoEQEeKwjgmXLRnTc.ttf) format("truetype");
}

@font-face {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ15S3E-kSBmtLoNJPDtbj2Pk.ttf) format("truetype");
}

@font-face {
  font-family: Noto Sans;
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notosans/v6/ByLA_FLEa-16SpQuTcQn4CwlidHJgAgmTjOEEzwu1L8.ttf) format("truetype");
}

@font-face {
  font-family: Noto Sans;
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notosans/v6/9Z3uUWMRR7crzm1TjRicDjdGNerWpg2Hn6A-BxWgZ_I.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  padding: 0;
  max-width: 640px;
  display: block;
  margin: 0 auto;
}

body,
html {
  background-color: #fff;
}

body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Noto Sans,sans-serif;
}

body:after {
  clear: both;
  content: "";
  display: table;
}
